/* *{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

form{
    margin-top: 150px;
}

legend{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: rgb(117, 210, 160);
}

fieldset{
    border-radius: 5px;
    background-color: rgb(53, 35, 70);

}

input{
   width:500px;
   height: 30px;
   border-radius: 10px;
   display:block;
}


label{
    font-size: large;
    font-style: oblique;
    color: white;
}
button{
    border-radius: 10px ;
    margin-left: 43%;
    background-color: aqua;
}
 */


*{
    box-sizing: border-box;
    /* font-family: sans-serif; */
}
body{
    background: url(https://media3.giphy.com/media/CGZGV8wix4lvJn3dxy/giphy.webp?cid=ecf05e47xqa6uktzi0edwwz2jnm8shk737i9ns6p3nn6zm4e&rid=giphy.webp&ct=g) center center repeat;

}
.login{
    width: 420px;
    height: auto;
    border: 1px solid #ccc;
    /* background: url(https://media4.giphy.com/media/hFhygTRHt4jvGQo52q/giphy.webp?cid=ecf05e47jujbxzn00nu4jl2bfjbngbkr8ce9l1b7tig8495z&rid=giphy.webp&ct=g) center center repeat-y; */
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
}
.login .form{
    width: 100%;
    height: 100%;
    padding: 15px 25px;
}
.login .form h2{
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.login .form input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 0 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}
.login .form input:focus{
    border: 1px solid rgba(255, 255, 255, .8);
    outline: none;
}
::-webkit-input-placeholder{
    color: #ddd;
}
.login .form input.submit{
    background: rgba(255, 255, 255, .9);
    color: #444;
    font-size: 18px;
    margin-top: 40px;
    font-weight: bold;
}
.login .form input.submit:hover{
    cursor:pointer;
}
span{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    font-style: italic;
}