*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

form{
    margin-top: 150px;
}

legend{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: rgb(117, 210, 160);
}

fieldset{
    border-radius: 5px;
    background-color: rgb(53, 35, 70);

}

input{
   width:500px;
   height: 30px;
   border-radius: 10px;
   display:block;
}

span{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    font-style: italic;
}
label{
    font-size: large;
    font-style: oblique;
    color: white;
}
button{
    border-radius: 10px ;
    margin-left: 43%;
    background-color: aqua;
}
button:hover{
    cursor:pointer;
}
